
body{
	margin-top: 4em;
	background: white;
}

.card{
	border-width: 0.2em;
}

.jumbotron{
	background: white;
	margin-left: 1.0em;
	margin-right: 1.0em;
}

.myintro{
	border-style: none;
	margin-bottom: 2.0em;
	margin-left: 4em;
	margin-right: 4em;
}

.myname{
	text-align: center;
	font-weight: bold;
	overflow: hidden;
    white-space: nowrap;
}

.mytitle{
	text-align: center;
	overflow: hidden;
    white-space: nowrap;
}

.cardrow{
	margin-bottom: 4.0em;
	margin-left: 2.0em;
	margin-right: 2.0em;
}
