
body{
	margin: 10em;
	margin-top: 5em;
	background: white;
}

.jumbotron{
	background: white;
	margin-left: 1.0em;
	margin-right: 1.0em;
}

.myintro{
	border-style: none;
}

.myname{
	text-align: center;
	font-weight: bold;
}

.mytitle{
	text-align: center;
}

.row{
	margin-bottom: 2.0em;
	margin-left: 0.0em;
	margin-right: 0.0em;
}
